/* Mobile device */

@media only screen and (max-width:688px) {
    /* all-section-css */
    .container {
        width: 100%;
    }
    .highlights-banner,
    .all-players,
    .all-news,
    .all-images {
        width: 90%;
    }
    .top-banner {
        height: auto;
    }
    .highlights-banner {
        padding-bottom: 100px;
    }
    .top-banner,
    .players,
    .highlights-banner,
    .gallery-image,
    .news {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
    }
    .player-img img,
    .highlights-banner-img img,
    .news-img img,
    .image img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    /* banner-css */
    .banner-img {
        text-align: center;
    }
    .banner-header {
        margin-left: 21px;
        padding: 50px 0;
    }
    .banner-header h1 {
        font-size: 38px;
        line-height: 47px;
    }
    .banner-header button {
        padding: 11px 11px;
        margin-top: 14px;
    }
    .banner-header button a {
        font-size: 18px;
    }
    /* player-css */
    .player-detales h1 {
        text-align: center;
    }
    /* highlights-banner css */
    .highlights-banner-header {
        text-align: center;
    }
    .highlights-banner-header h1 {
        font-size: 33px;
        line-height: 52px;
        text-align: center;
    }
    .highlights-banner-header p {
        text-align: justify;
        padding-right: 0;
    }
    .highlights-banner-img {
        margin: 20px auto;
    }
    /* news-css */
    article {
        margin-bottom: 20px;
    }
    .all-news h1 {
        font-size: 23px;
    }
    /* footer-css */
    .footer-detales {
        width: 75%;
        margin: auto;
        padding-bottom: 30px;
    }
    .banner-img img,
    .footer-img img {
        width: 90%;
        height: auto;
    }
}


/* tablate-device */

@media only screen and (min-width:689px) and (max-width:1024px) {
    .container {
        width: 100%;
    }
    .highlights-banner,
    .all-players,
    .all-news,
    .all-images {
        width: 90%;
    }
    .top-banner,
    .players,
    .highlights-banner,
    .gallery-image,
    .news {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .player-img img,
    .highlights-banner-img img,
    .news-img img,
    .image img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .banner-img img,
    .footer-img img {
        width: 90%;
        height: auto;
    }
    /* banner-css */
    .top-banner {
        height: auto;
    }
    .banner-img,
    .footer-img {
        text-align: center;
    }
    .banner-header {
        margin-left: 50px;
        padding: 50px 0;
    }
    .banner-header h1 {
        font-size: 45px;
        line-height: 65px;
    }
    .banner-header button {
        margin-top: 14px;
    }
    .banner-header button a {
        font-size: 18px;
    }
    /* highlights-banner css */
    .highlights-banner-header h1 {
        font-size: 28px;
        line-height: 52px;
    }
    .highlights-banner-header p {
        text-align: justify;
        padding-right: 0;
    }
    .highlights-banner-img {
        margin: 20px auto;
    }
    /* news-css */
    article {
        margin-bottom: 20px;
    }
    .all-news h1 {
        font-size: 23px;
    }
    /* footer-css */
    .footer-detales {
        width: 45%;
        margin: auto;
        padding-bottom: 30px;
    }
    .image:last-child {
        display: none;
    }
}


/* latop-devices */

@media only screen and (min-width:1024px) and (max-width:1250px) {
    .container {
        width: 100%;
    }
    .highlights-banner,
    .all-players,
    .all-news,
    .all-images {
        width: 90%;
    }
    .top-banner,
    .players,
    .highlights-banner,
    .gallery-image,
    .news {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .player-img img,
    .highlights-banner-img img,
    .news-img img,
    .image img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .banner-img img,
    .footer-img img {
        width: 90%;
        height: auto;
    }
}