/* google-font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Body-aria */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fffdfd;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1440px;
}


/*=================== This is top banner CSS start ======================== */

.top-banner {
    height: 677px;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 53px;
}

.banner-header {
    margin-left: 140px;
}

.banner-header h1 {
    margin: 0 0;
    font-size: 64px;
    color: #fff;
    line-height: 80px;
}

.banner-header button {
    background: #E02C6D;
    padding: 13px 24px;
    border: none;
    border-radius: 6px;
}

.banner-header button:hover {
    background: #d42727d8;
    transition: .4s;
}

.banner-header button a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.banner-header button a i {
    margin: 0 10px;
    font-size: 18px;
}

.banner-header button:hover a {
    margin-left: 4px;
    transition: .5s;
}

.banner-img img {
    width: 556px;
    height: 438px;
}


/*=================== This is top banner CSS end ======================== */


/*=================== This is Player CSS Start ======================== */

.all-players {
    width: 1050px;
    margin: auto;
    padding-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.player {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px #0000003b;
    border-radius: 5px;
}

.player-img img {
    width: 300px;
    height: 256px;
    border-radius: 4px;
}

.player-detales h1 {
    font-size: 28px;
    margin: 2px 0;
}

.player-detales p {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}


/*=================== This is Player CSS end ======================== */


/*================== This is highlights CSS start ======================== */

.highlights-banner {
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 1050px;
    margin: auto;
}

.highlights-banner-header h1 {
    margin: 0 0;
    font-size: 47px;
    color: rgb(0, 0, 0);
    line-height: 60px;
}

.highlights-banner-header p {
    font-size: 16px;
    line-height: 35px;
    padding-right: 126px;
}

.highlights-banner-header button {
    background: #E02C6D;
    padding: 13px 24px;
    border: none;
    border-radius: 6px;
}

.highlights-banner-header button:hover {
    background: #e4288f;
    transition: .4s;
}

.highlights-banner-header button a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.highlights-banner-header button a i {
    margin: 0 10px;
    font-size: 18px;
}

.highlights-banner-header button:hover a {
    margin-left: 4px;
    transition: .5s;
}

.highlights-banner-img img {
    width: 556px;
    height: 438px;
}


/*=================== This is Highlights CSS end ======================== */


/*=================== This is gallery CSS start ======================== */

.all-images {
    width: 1050px;
    margin: auto;
    padding-bottom: 30px;
}

.all-images h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 40px;
}

.gallery-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    margin-bottom: 12px;
}

.image {
    background: #d0d0d096;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgb(210 82 82 / 51%);
}

.image:hover {
    background: #ebebebe8;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.281);
    transition: .5s;
}

.image img {
    height: 212px;
    width: 333px;
    border-radius: 10px;
}

.image img:hover {
    transform: scale(1.5);
    transition: .5s;
    border-radius: 2px;
}


/*=================== This is gallery CSS end ======================== */


/*=================== This is News CSS start ======================== */

.all-news {
    width: 1050px;
    margin: auto;
    padding-bottom: 30px;
}

.all-news h1 {
    font-size: 33px;
    margin-bottom: 15px;
}

.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    margin-bottom: 12px;
}

article {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px #0000003b;
}

.news-img img {
    width: 474px;
    height: 235px;
}

.news-heading p {
    margin: 4px 0;
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.news-heading span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #464545;
}

.news-heading h1 {
    font-size: 18px;
    margin: 2px 0;
    font-weight: 700;
}


/*=================== This is News CSS end ======================== */


/*=================== This is footer CSS Start ======================== */

.footer-detales {
    width: 500px;
    margin: auto;
    padding-bottom: 30px;
}

.footer-img img {
    width: 484px;
    height: 110px;
}

.footer-social-icon {
    text-align: center;
}

.footer-social-icon img {
    height: 32px;
    width: 32px;
    margin-right: 13px;
}

.footer-copyright {
    text-align: center;
}


/*=================== This is footer CSS end ======================== */